<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>

    <testsuites>
        <testsuite>
            <directory suffix="Tests.php">./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./app</directory>
            <file>./bookmark-manager.php</file>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./log/codeCoverage" charset="UTF-8"
            yui="true" highlight="true" lowUpperBound="50"
            highLowerBound="80"/>
        <log type="testdox-html" target="./log/testdox.html" />
        <log type="coverage-clover" target="./log/coverage.xml"/>
    </logging>
</phpunit>
