section.hero {
  margin-bottom: 1em;
}

section.hero .hero-head {
  padding: 1em;
}

#form {
  margin: 0.5em;
}

#flash {
  color: #fff;
  padding: 4px;
}

.success {
  background: #5ec441;
}

.error {
  background: #ea0f0f;
}

.footer {
  padding: 1rem 1rem;
}
